.wrapper {
    position: fixed;
    top: 40px;
    left: 101px;
    padding-top: 25px;
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 500px;
    background-color: white;
    border-radius: 2px;
    
}

.p {
    font-size: 18px;
    font-family: 'Inter';
    margin-left: 20px;
    
}

.ul {
    display: flex;
    height: 65%;
    flex-direction: column;
    justify-content:space-evenly

}

.menuItem {
    padding-left: 35px;
    width: 100%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 132%;
    list-style: none;
    color: #71717A
}

.menuItem_active {
    padding-left: 35px;
    width: 100%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 132%;
    list-style: none;
    color: #F97316;
}